@font-face {
    font-family: 'icomoon';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'),
        url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.social-networks {
    margin: 0 0 1.5rem;
    padding: 0;
    font-size: 0;
    text-align: center;

    li {
        display: inline-block;
    }

    a {
        display: block;
        position: relative;
        margin: 0 2.5rem;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 0;
        line-height: 0;
        text-align: center;
        text-decoration: none;

        @include respond(tab-port){
            width: 4rem;
            height: 4rem;
            margin: 0 2rem;
        }

        @include respond(phone) {
            width: 3.5rem;
            height: 3.5rem;
            margin: 0 1.75rem;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            margin-top: -50%;
            margin-left: -50%;
            border-radius: 100px;
            background-color: #1f2027;
            transition: all 400ms;
        }

        &:after {
            position: relative;
            display: block;
            font-family: 'icomoon';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            color: #fff;
            font-size: 2.3rem;
            line-height: 4.7rem;

            @include respond(tab-port) {
                font-size: 2.3rem;
                line-height: 3.9rem;
            }

            @include respond(phone) {
                font-size: 1.8rem;
                line-height: 3.4rem;
            }
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    &.spin-icon a:hover:after,
    &.spin-icon a:focus:after {
        transition: all 0.4s ease-out;
        transform: rotateZ(360deg);
    }
}